.tile {
    display: flex;
    flex-flow: row nowrap;
    font-size: 200%;
    align-items: center;
    justify-content: center;
}
.tile-count {
    position: relative;
    flex-shrink: 10;
    width: 0;
    font-size: 50%;
    align-self: flex-start;
    justify-self: flex-start;
    font-weight: bolder;
}
.dropDown {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: white;
    border: 3px solid black;
    border-radius: 10%;
}
#canvas {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
input {
    text-align: center;
    font-size: 300%;
    width: 100px;
}